---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import Container from '../layouts/Container.astro';
import Hero from '../components/Hero.astro';
import RecentPosts from '../components/RecentPosts.astro';
import FeaturedPosts from '../components/FeaturedPosts.astro';


const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);


const recentPosts = posts.slice(0,3)


const featuredPosts = posts.filter(post => post.frontmatter.featured === true)
console.log(featuredPosts)
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<div class="bg-black">
		<Header title={SITE_TITLE} />
		<main class="text-stone-400">
			<Hero />
			<FeaturedPosts featuredPosts={featuredPosts}/>
			<RecentPosts recentPosts={recentPosts}/>
			<!-- <div class="py-20 px-4 max-w-7xl mx-auto">
				<h3 class="text-2xl font-bold text-center text-stone-100 pb-6">Recent Posts</h3>
				<div class="grid grid-cols-1 md:grid-cols-3 gap-4">
					{recentPosts.map((recentPost) => (
						<RecentPostCard recentPost={recentPost}/>
					))}
				</div>
			</div> -->
		</main>
		<Footer />
	</div>
</html>
