---
// const {recentPost} = Astro.props

const {featuredPost} = Astro.props
// console.log(recentPost.frontmatter)
---

<div class="p-4 border border-stone-800 rounded-lg flex flex-col">
    <div class="relative">
        <img src={featuredPost.frontmatter.heroImage} class="mb-3 rounded-md"/>
        <div class="flex gap-1 absolute top-3 right-3">
            {featuredPost.frontmatter.tag.map((tag) => (
                <p class="text-sm bg-orange-400 px-3 rounded-sm text-white">{tag}</p>
            ))}
        </div>
        <!-- <p class="text-sm absolute bg-orange-400 px-3 rounded-sm text-white top-3 right-4">{recentPost.frontmatter.tag}</p> -->
    </div>
    <!-- <img src={recentPost.frontmatter.heroImage} class="mb-3 rounded-md"/> -->
    
    <a href={featuredPost.url}><h4 class="text-stone-200 text-lg font-bold mb-4">{featuredPost.frontmatter.title}</h4></a>
    <p class="text-stone-500 mb-4 font-light">{featuredPost.frontmatter.description}</p>
    <div class="flex justify-between mt-auto">
        <time datetime={featuredPost.frontmatter.pubDate} class="text-stone-500 text-sm font-semibold mt-auto">
            {new Date(featuredPost.frontmatter.pubDate).toLocaleDateString('en-us', {
                year: 'numeric',
                month: 'short',
                day: 'numeric',
            })}
        </time>
        
        <div class="flex gap-1">
            {featuredPost.frontmatter.tag.map((tag) => (
                <p class="text-xs text-stone-300 bg-stone-800 rounded-md py-1 px-3">{tag}</p>
            ))}
        </div>
        
        <!-- <p class="text-sm text-stone-300 bg-stone-800 rounded-md px-3">{recentPost.frontmatter.tag}</p> -->
        
    </div>
    
</div>