---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Container from "./Container.astro";

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
		tag?: string[];
	};
}

const {
	content: { title, description, pubDate, updatedDate, heroImage, tag },
} = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			/* .title {
				font-size: 2em;
				margin: 0.25em 0 0;
			}
			hr {
  				border-top: 1px solid #DDD;
				margin: 1rem 0;
			} */
		</style>
	</head>

	<body class="bg-black" >
		<Header />
		<Container>
		<main class="py-10">
			<article class="prose max-w-none prose-lg md:prose-xl prose-a:text-blue-500 text-stone-300 prose-blockquote:text-stone-300 prose-headings:text-stone-100 prose-strong:text-stone-300 prose-code:text-black ">
				{heroImage && (
					<img
						width={870}
						height={360}
						src={heroImage}
						alt=""
						class=""
					/>
				)}
				<h1 class="text-2xl md:text-4xl text-stone-100 font-bold mb-0 md:mb-1">{title}</h1>
				{pubDate && <time class=" text-stone-700">{pubDate}</time>}
				{updatedDate && <div class="text-stone-500">Last updated on <time>{updatedDate}</time></div>}
				<div class="-mb-4  -mt-2">
					{tag.map((tag) => (
						<p class=" inline-block text-sm md:text-base text-stone-300 bg-stone-800 rounded-md py-1 px-3 mr-2 last-of-type:mr-0">{tag}</p>
					))}
				</div>
				<hr class="prose-sm"/>
				<slot />
			</article>
		</main>
		<Footer />
		</Container>
	</body>
</html>
